@use "./partials/variables.scss" as *;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/@fontsource/montserrat/index.css";
@import "node_modules/@fontsource/montserrat/500.css";
@import "node_modules/@fontsource/montserrat/600.css";
@import "node_modules/@fontsource/montserrat/700.css";
@import "node_modules/@fontsource/abril-fatface/index.css";

img {
    max-width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: unset;
}

li {
    list-style-type: none;
}

.ms-container-xs {
    width: 55%;
    margin: 0 auto;
}

.ms-container-small {
    width: 65%;
    margin: 0 auto;
}

.ms-container-md {
    width: 85%;
    margin: 0 auto;
}

.ms-btn,
.ms-btn-small {
    border: 2px solid $gold-text;
    color: $gold-text;
    display: inline-block;
    font-weight: 600;
}

.ms-btn {
    padding: 1rem 2rem; 
}

.ms-btn-small {
    padding: .5rem 1rem;
    font-size: .8rem;
}

.gold-subtitle {
    color: $gold-text;
    font-size: 1.2rem;
}

.gold-title {
    color: $gold-text;
    font-family: "Abril Fatface";
}

.silver-title {
    color: $silver-text;
    font-size: 4rem;
    font-family: "Abril Fatface";
    margin-bottom: 3rem;
}