@use "./partials/variables.scss" as *;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/@fontsource/montserrat/index.css";
@import "node_modules/@fontsource/montserrat/500.css";
@import "node_modules/@fontsource/montserrat/600.css";
@import "node_modules/@fontsource/montserrat/700.css";
@import "node_modules/@fontsource/abril-fatface/index.css";

img {
    max-width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.ms-container-small {
    width: 65%;
    margin: 0 auto;
}

.ms-container-md {
    width: 85%;
    margin: 0 auto;
}

.ms-btn {
    border: 2px solid $gold-text;
    color: $gold-text;
    display: inline-block;
    font-weight: 600;
    padding: 1rem 1.5rem;
}

.gold-subtitle {
    color: $gold-text;
    font-size: 1.2rem;
}

.gold-title {
    color: $gold-text;
    font-family: "Abril Fatface";
}

.silver-title {
    color: $silver-text;
    font-size: 3rem;
    font-family: "Abril Fatface";
}